/* CSS for logdanger class */
.logdanger {
    color: red;
}

/* CSS for loggood class */
.loggood {
    color: green;
}

/* CSS for loginfo class */
.loginfo {
    color: blue;
/respect the spacing of the log file please
}
.log-container {
  white-space: pre-wrap;
}
/Can I have a gray background please
.logalizer-bg {
  background-color: #gray;
}
