/* CSS for logdanger class */
.logdanger {
color: #920000;
}

/* CSS for loggood class */
.loggood {
color: #2fe42f;
}

/* CSS for loginfo class */
.loginfo {
color: #1e1ed8;
}
/* respect the format of the original log file */ 
.log-container {
white-space: pre-wrap;
}
/*can we get a gray background please, light mode hurts */
body {
background-color: #404040bd;
}
